{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  <header style="background: transparent;">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%; background: transparent;">
      <!-- Container for the featured image with transparent background -->
      <div style="padding: 20px; max-width: 100%; height: auto; background: transparent;">
        <img src="{{ $featured_image | absURL }}" style="max-width: 100%; max-height: 100%; object-fit: contain;">
      </div>
    </div>
  </header>
{{ else }}
  <header style="background: transparent;">
    <!-- Consider adding content here for cases where there's no featured image -->
  </header>
{{ end }}
