{{ define "main" }}
    <h1 style="text-align: center;border: 3px solid #5e403a; padding: 8px; background-color: #9a765f;">LEADERBOARDS</h1>
    
    {{ with index .Site.Data.weekly_experience_gain 0 }}
        <h2 style="text-align: center;font-style: italic;"></h2style>Overall XP gains since {{ .week_start | dateFormat "January 2, 2006" }}</h2>
    {{ end }}
    <table id = "xp-table">
        <thead>
            <tr>
                <th>Player</th>
                <th>XP gains</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Site.Data.weekly_experience_gain }}
                {{/* Convert experience_gain to float and check if it is greater than 0 */}}
                {{ $experience_gain := float .experience_gain }}
                {{ if gt $experience_gain 0 }}
                    <tr data-player-name="{{ .player_name }}" data-experience="{{ printf "%.0f" .experience_gain }}">
                        <td>{{ .player_name }}</td>
                        <td>{{ printf "%.0f" $experience_gain }}</td>
                    </tr>
                {{ end }}
            {{ end }}
            
        </tbody>
    </table>
    
    {{ with index .Site.Data.weekly_experience_gain 0 }}
    <h2 style="text-align: center;font-style: italic;"></h2style>PvM gains since {{ .week_start | dateFormat "January 2, 2006" }}</h2>
    {{ end }}
    <table id = "pvm-table">
        <thead>
            <tr>
                <th>Player</th>
                <th>Raids Done</th>
                <th>Bosses Done</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Site.Data.weekly_pvm_gain }}
            {{/* Convert raids_increase and bosses_increase to float and check if either is greater than 0 */}}
            {{ $raids_increase := float .raids_increase }}
            {{ $bosses_increase := float .bosses_increase }}
            {{ if or (gt $raids_increase 0) (gt $bosses_increase 0) }}
                <tr>
                    <td>{{ .player_name }}</td>
                    <td>{{ printf "%.0f" $raids_increase }}</td>
                    <td>{{ printf "%.0f" $bosses_increase }}</td>
                </tr>
            {{ end }}
        {{ end }}
        </tbody>
    </table>
    <script>
        function sortTable() {
            var table = document.getElementById("xp-table");
            var rows = Array.from(table.rows).slice(1); // Exclude the header row
            rows.sort((a, b) => parseFloat(b.cells[1].textContent) - parseFloat(a.cells[1].textContent));
            rows.forEach(row => table.appendChild(row));
        }
    
        function sortPvmTable() {
            var table = document.getElementById("pvm-table");
            var rows = Array.from(table.rows).slice(1); // Exclude the header row
            rows.sort((a, b) => parseFloat(b.cells[1].textContent) - parseFloat(a.cells[1].textContent));
            rows.forEach(row => table.appendChild(row));
        }
    
        window.onload = function() {
            sortTable();
            sortPvmTable();
        }
    </script>

    {{ $topPerformers := index .Site.Data "top_performers" }}
    <div class="top-performers">
        <div class="top-box">
            <img src="/images/mvp_logo.png" alt="Crown" class="crown-icon">
            <h3>XP MvP of the week</h3>
            <p>{{ $topPerformers.top_xp_gain.player_name }} with {{ printf "%.0f" $topPerformers.top_xp_gain.experience_gain }} XP gained</p>
        </div>
        <div class="top-box">
            <img src="/images/mvp_logo.png" alt="Crown" class="crown-icon">
            <h3>Raids MvP of the week</h3>
            <p>{{ $topPerformers.top_raids_gain.player_name }} with {{ printf "%.0f" $topPerformers.top_raids_gain.raids_increase }} raids done</p>
        </div>
        <div class="top-box">
            <img src="/images/mvp_logo.png" alt="Crown" class="crown-icon">
            <h3>Boss MvP of the week</h3>
            <p>{{ $topPerformers.top_bosses_gain.player_name }} with {{ printf "%.0f" $topPerformers.top_bosses_gain.bosses_increase }} kills</p>
        </div>
    </div>

    <div style="text-align: center; margin-top: 100px;">
        <img src="/images/goodmemories.png" alt="i wasnt even there lol" style="max-width: 100%; height: auto;">
    </div>
{{ end }}
