/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

.tables-container {
  display: flex;
  justify-content: center; /* Align items in the center */
  flex-wrap: wrap; /* Allows items to stack on smaller screens */
  gap: 20px; /* Creates space between flex items */
}

.table-wrap {
  flex: 1; /* Allows each table wrap to grow */
  min-width: 300px; /* Minimum width to prevent too much shrinking */
  width: calc(100% - 40px); /* Adjust the width to account for the margin */
}

table {
  width: calc(100% - 40px); /* Adjust the width to account for the margin */
  margin-left: 20px; /* 20px space on the left side */
  margin-right: 20px; /* 20px space on the right side */
  border-collapse: collapse;
  background-color: #FFF8E7; /* Light cream */
  color: #333333; /* Dark gray for text */
}

.xp-table {
  width: calc(100% - 40px); /* Adjust the width to account for the margin */
  margin: 20px auto; /* Center the table with equal margins on both sides */
  border-collapse: collapse;
  background-color: #FFF8E7;
  color: #333333;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #9a765f; /* Background color for table headers */
  color: #ffffff; /* Text color for table headers */
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #cfb3a2;
}
tr:nth-child(odd) {
  background-color: #cfb3a2;
}

.content-container {
  margin: 20px auto;
  width: calc(100% - 40px); /* This matches the table layout */
}

.top-performers {
  display: flex;
  justify-content: space-around;
  margin-top: 75px;
}

.top-box {
  padding: 10px !important;
  border: 2px solid #ccc !important;
  border-radius: 5px !important;
  text-align: center; 
  background-color: #9a765f; 
}

.crown-icon {
  display: block;
  margin: 0 auto 10px; /* Center the icon and add some space below it */
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Keep the aspect ratio */
}

.cover {
  background-size: cover;
  background-position: center; /* Centers the background image */
  width: 100%; /* Ensures the header spans the full width */
  height: 100%; /* Adjust this value based on your design's needs */
}

.leaderboard-title {
  text-align: center;
  border: 3px solid #5e403a;
  padding: 8px;
  background-color: #9a765f;
  width: calc(100% - 40px); /* Adjust the width to account for the margin */
  margin: 20px auto; /* Center the table with equal margins on both sides */
}

.image-container {
  text-align: center;
  margin-top: 75px;
  width: calc(100% - 40px); /* Adjust the width to account for the margin */
  margin-left: 20px; /* 20px space on the left side */
  margin-right: 20px; /* 20px space on the right side */
}

.image-container img {
  max-width: 100%;
  height: auto;
}